/*

configuration

*/

@charset "UTF-8";

/*

font

*/

@font-face {
  font-family: 'Maison Neue';
  src: url('fonts/Maison-Neue-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('fonts/Maison-Neue-Light-Italic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('fonts/Maison-Neue-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('fonts/Maison-Neue-Book-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('fonts/Maison-Neue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('fonts/Maison-Neue-Medium-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('fonts/Maison-Neue-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('fonts/Maison-Neue-Demi-Italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('fonts/Maison-Neue-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('fonts/Maison-Neue-Bold-Italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/*

reset

*/

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

ul {
    list-style: none;
}

/*

styles

*/

.margin-1 {
  margin: 24px;
}

.margin-bottom-2 {
  margin-bottom: 48px;
}

.margin-bottom-1 {
  margin-bottom: 24px;
}

.margin-bottom-1\/2 {
  margin-bottom: 12px;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.copy {
  font-family: 'Maison Neue';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.copy.large {
  font-size: 18px;
}

.copy.bold {
  font-weight: 600;
}

.copy.demi {
  font-weight: 500;
}

.copy.italic {
  font-style: italic;
}
